.GeneralElementryDiv{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subGeneralElementryDiv{
  width:1200px;
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}